# Node modules
node_modules/

# Local database files
*.db
*.db.mv.db
*.db.trace.db

# Git
.git/
.gitignore

# Environment files
.env
.env.local

# Documentation
README.md

# Certificates
*.pem
*.key
*.cert

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local plugins
plugins/
